server {
  listen $PORT default_server;
  location /robots.txt {
   add_header Content-Type text/plain;
   return 200 "User-agent: *\nDisallow: /\n";
  }
  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }
}