.header {
    position: absolute;
    width: 100vw;
    height: 6rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: $dark-purple;
    box-shadow: 0px 5px 5px darken($darkest-purple, 10%);
    z-index: 2;
    top: 0;
}

.header__title {
    color: $lightest-purple;
    font-size: $xl-size;
    grid-area: 1 / 1 / 1 / 2;
    margin-left: 5rem;
}

.header__subtitle {
    color: $text-purple;
    grid-area: 1 / 2 / 1 / 3;
    margin: $xl-size $m-size $m-size $m-size;
    text-align: center;
}

.header__display-name {
    font-size: $m-size;
    color: rgb(251, 251, 182);
}

@media (max-width: $mobile-breakpoint) {
    .header {
        padding-bottom: $m-size;
    }

    .header__title {
        margin-left: $m-size;
    }

    .header__subtitle {
        margin-right: $s-size;
    }
    
}