.grid-container {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header header header'
        'messages messages messages'
        'messages messages messages'
        'footer footer footer';
    width: 100vw;
    height: 100vh;
}

.header-container {
    grid-area: header;
}

.messages-container {
    grid-area: messages;
}

.send-message-container {
    grid-area: footer;
}

