#messages-wrapper {
    background-color: $background-purple;
    position: absolute;
    overflow: scroll;
    width: 100vw;
    height: fill;
    padding: 0;
    padding: 10vh 0;
    justify-content: space-between;
    z-index: 1;
}

.messages {
    padding: $xl-size $s-size;
    margin-top: $xxs-size;
}



.message {
    
    margin-bottom: $xxs-size;
    width: fit-content;
    max-width: 66%;
    bottom: 0;
}

.self {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    margin: 1rem 1rem 1rem auto ;
}

.other {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    align-items: flex-end;
}

.color1 {
    background: nth($message-colors, 1);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 1), 0.35);
    
}

.color2 {
    background: nth($message-colors, 2);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 2), 0.35);
}

.color3 {
    background: nth($message-colors, 3);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 3), 0.35);
}

.color4 {
    background: nth($message-colors, 4);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 4), 0.35);
}

.color5 {
    background: nth($message-colors, 5);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 5), 0.35);
}

.color6 {
    background: nth($message-colors, 6);
    box-shadow: -8px 8px 2px rgba(nth($message-colors, 6), 0.35);
}

.message__bubble {
    padding: $xs-size;
    border-radius: 15px;
    width: fit-content;
}

.self > .message__bubble {
    margin: 1rem 1rem 1rem auto ;
    background: $self-message-color;
    box-shadow: 8px 8px 2px rgba($self-message-color, 0.35);
}

.message__timestamp {
    color: $text-purple;
    font-style: italic;
    margin-top: 3rem;
    margin-bottom: 0;
}

.self > .message__timestamp {
    margin-right: $s-size;
    text-align: right;
    grid-area: 1 / 1 / 1 / 2;
}

.other > .message__timestamp {
    margin-left: $s-size;
    text-align: left;
    grid-area: 1 / 2 / 1 / 3;
}

.message__content {
    margin: $xs-size;
    color: white;
    font-size: $s-size;
    overflow-wrap: break-word;
    font-size: 1rem;
    font-weight: 300;
}

.self > .message__content {
    grid-area: 1 / 2 / 1 / 3;
}

.other > .message__content {
    grid-area: 1 / 1 / 1 / 2;
}

.message__from {
    font-style: italic;
    color: $lightest-purple;
    font-size: $s-size;
}

.message-ctx {
    margin-top: 0;
    padding: 0 0 $xs-size 0;
    text-align: center;
    align-items: center;
}

.message-ctx__content {
    color: $text-purple;
    font-style: italic;
}

@media (max-width: $mobile-breakpoint) {
    #messages-wrapper {
        margin-top: 1rem;
        height: -webkit-fill-available;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }
}