.send-message {
    bottom: 0;
    padding: $m-size;
    padding-top: 0;
    background: $background-purple;
}

.send-message__form {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

@media (max-width: $mobile-breakpoint) {
    .send-message__form {
        display: block;
        margin: 0 1rem;
    }
}