.send-message {
    bottom: 0;
    padding-top: 1rem;
    padding: $m-size;
    position: absolute;
    width: fill;
    height: 5rem;
    z-index: 2;
    background: $background-purple;
}

.send-message__form {
    display: flex;
    margin: 0;
    overflow: hidden;
}

@media (max-width: $mobile-breakpoint) {
    .send-message{
        width: -webkit-fill-available;
        padding-top: 0;
    }

    .send-message__form {
        padding-top: $s-size;
        margin: 0;
    }

    .send-message__input {
        margin: $xxs-size;
        border-radius: 30px;
        padding: 0.8rem $s-size;
        font-size: 1rem;
    }

    .send-message__button {
        border-radius: 100%;
        margin: 0 0 0 0.4rem;
        padding: 1rem;
    }

    .mobile-keyboard {
        bottom: 40%;
        padding-bottom: $l-size;
        position: relative;
    }
}