// Sizing
$xxs-size: 0.1rem;
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 2.6rem;
$xxl-size: 3.2rem;


// Colors
$darkest-purple: #2E2C5B;
$dark-purple: #3B396F;
$background-purple: #454372;
$text-purple: #7B79B6;
$lightest-purple: #9E9CD6;
$message-green: #70877F;
$message-red: #A54657;

$self-message-color: #70877F;
$message-colors: #D77FA1, #A54657, #94B3FD, #FF7878, #6D8299, #CAB8FF;

// Media breakpoints
$mobile-breakpoint: 40rem;